*{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
padding: 0%;
margin: 0%;

}
select{
    box-shadow: 0 10px 25px #000;
}
.select_cat{
    text-decoration: none;
    outline: none;
    width: 35%;
}
.heading{

    font-size: 1.8rem;
    text-align: center;
    color: #fff;
    padding-bottom:1%;
    padding-top: 1%;
    background-color: #00ac61;

}
.prod_image {
    float: left;
 
    text-align: center;
    color: rgb(80, 80, 80);
}
.prod_image img{
    height: 150px;
    margin: 0%;
    border: solid rgba(0, 0, 0, 0.418);
    border-radius: 8px;
}

.details input,button,textarea{
    height:30px;
    border: none;
    margin-bottom:5% ;
    width: 35%;
   
}
.details label{
    margin-right: 5%;
}
.details input{
    border: 2px solid rgb(80, 80, 80);
    border-radius: 8px;
    outline: none;
    padding-left:5px ;
}
.prod_desc{
    float: left;
}
.description{
    text-align: left;
    display: block;
   
     margin-left: 45%;
}
.desc_box{
    width:35%;
    height: 60px;
    border:1px solid #000;
    border-radius:5px ;
    outline: none;
    padding: 5px;
}
.details input:focus{
    border-color:  #00ac61
}
.details input:hover{
    border-color:  #00ac61
}

.form-horizontal{
    margin-top: 2%;
    margin-left: 28%;
    margin-bottom: 0;
    text-align: right;

        padding: 2%;
        height:fit-content;
        width: 40%;
        color: rgb(80, 80, 80);
        font-weight:bolder;
        border-radius: 10px;
        box-shadow:2px 2px 6px rgba(0, 0, 0, 0.445);
   
}

.submit{ margin: 0px;
    margin-top: -35px;
    margin-right: 10px;
    text-decoration: none;
    border: none;
    border-radius:  5px;
    height: 30px;
    width:150px;
    background-image: linear-gradient(to right, #00ac61 ,#EFF54D,#00ac61);
    font-size: 16px;
    font-weight:bold;
    color:white;
    outline: none;
    background-size: 200%;
    transition: 0.3s;
    cursor: pointer;
  }
.submit:hover{
    background-position: right;
    box-shadow: 2px 2px 6px #00000054;
  }
.prod_image img:hover{
    border-color: #00ac61;
    box-shadow:2px 2px 6px rgba(0, 0, 0, 0.274) ;
}
@media all and (max-width:1190px) and (min-width:764px)
{   
    .description{
        float: left;
        margin-left: 15%;
      text-align: right;
    }
   
    .desc_box{
        width: 80%;
    }
    .prod_image{
        float: none;
         margin: 0%;
        margin-bottom: 20px;
    }
    .prod_image img{
       height: 100px;
    }
    .prod_image h3{
        font-size: 15px;
    }
    .details input{
        margin-right: 17%;
    }
    .form-horizontal{
        height:450px;
    }
}
@media all and (max-width:764px){
  
    .prod_image{
        float: none;
        margin: 0%;
        margin-bottom: 5px;
    }
    .form-horizontal{
        text-align: center;
        display: block;
        font-weight: normal;
        text-align: left;
        height: fit-content;
       
        width: 50%;
     
    }
    .form-horizontal label{
        display: block;
    }
    .form-horizontal input,label{
        margin: 0%;
        margin-left: 15%;
        width: 70%;
    }
    .description{
        margin-left: 15%;
    }
    .prod_image img{
        height: 100px;
     }

    .desc_box{
        width: 80%;
        margin-left:10%;
    }
 
     .submit{
         margin: 0%;
         margin-left: 25%;
         margin-top: 5px;
         width:50%;
     }
}
@media all and (max-width:400px){
        .heading{
            font-size: 1rem;
        }
    .form-horizontal{
        padding-top:5px;
        margin: 0%;
        box-shadow: none;
        width:100%
    }
    .form-horizontal h3{
        font-size: 1rem;
    }
    .submit{
        margin: 0%;
        float:right;
        margin-top: 5px;
        margin-right: 12%;
        font-weight:bold;
        width: 50%;
        font-size: .8rem;
    }
    .details{
        font-size: .8rem;
    }
}